@page "/"
@using Grc.Permissions
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(GrcPermissions.Home.Default)]

<PageTitle>الصفحة الرئيسية</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3>مرحباً بك في نظام GRC</h3>
                </div>
                <div class="card-body">
                    <p>نظام إدارة الحوكمة والمخاطر والامتثال</p>
                    <p>استخدم القائمة الجانبية للتنقل بين الوحدات المختلفة.</p>
                </div>
            </div>
        </div>
    </div>
</div>
