@page "/dashboard"
@using Grc.Permissions
@attribute [Authorize(GrcPermissions.Dashboard.Default)]

<PageTitle>لوحة التحكم</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>لوحة التحكم</h2>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">التقييمات</h5>
                    <p class="card-text">إدارة التقييمات</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">المخاطر</h5>
                    <p class="card-text">إدارة المخاطر</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">المراجعات</h5>
                    <p class="card-text">إدارة المراجعات</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">الأدلة</h5>
                    <p class="card-text">إدارة الأدلة</p>
                </div>
            </div>
        </div>
    </div>
</div>
